body {
    font-family: 'Poppins', sans-serif;
    background-color: #ff8fbf;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.hero {
    background: url('img/background.jpg') no-repeat center center/cover;
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero-overlay {
    background-color: rgba(255, 105, 180, 0.5);
    padding: 30px;
    border-radius: 10px;
    animation: 4s rotate infinite;
}

@keyframes rotate {
    0%, 100% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
}

.hero h1 {
    font-size: 3rem;
    font-family: 'Parisienne', cursive;
    font-weight: bold;
}


/* About Us Section */
.about {
    background-color: #fff0f5;
    padding: 80px 0;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ff69b4;
    font-family: 'Parisienne', cursive;
}

.section-subtitle {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.feature-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.feature-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.feature-box h4 {
    font-weight: bold;
    color: #ff69b4;
    margin-top: 15px;
}

.feature-box p {
    font-size: 1rem;
    color: #777;
}

/* .icon {
    width: 80px;
    height: 80px;
} */

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.5s;
}

.card:hover {
    transform: translateY(-10px);
}

.card_img{
    height: 250px;
}

footer {
    background-color: #ff69b4;
    color: white;
    font-weight: bold;
}

.product {
    margin-bottom: 50px;
}

.row {
    display: flex;
    row-gap: 20px;
}

/* .modalbg {
    background-color: rgba(255, 105, 180, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 99999999999;
    position: fixed;
    display: none; 
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    place-items: center;
    flex-direction: column;
    margin: auto 0;

} */

/* .modal {
    width: 300px;
    height: 200px;
    border: 1px solid #ff69b4;
    background-color: #ff69b4;
    display: flex;
    color: black;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
